table, h1{
color:#3498db;
text-align:center;
margin:0 auto;
}
body{
  background:#222;
  text-align:center;
}
div{
  float:left;
  margin-left:15%;
  color:#3498db;
  clear:left;
  margin-top:.5em;
  margin-bottom:.5em;
  margin-right:0;
  position:fixed;
}
